*.pyc
__pycache__/
*.venv/
venv/Include/
venv/Lib/
venv/bin/
venv/Scripts/
node_modules/
*.pkl
*.csv
.vscode/
.DS_Store
node_modules
.env/
.env/*
.env
training/raw_videos
*.mp4
*.avi
*.mov
training/exercise_sequences_landmarks.csv
training/exercise_sequences_augmented.csv
config.env