{% extends "house.html" %}
{% block title %}Admin Monitor{% endblock %}
{% block content %}
<head>
    <title>Monitor Workout | {{ session.get('user_gym_name', 'Admin') }}</title>
</head>
<div class="p-10 h-full font-Helvetica flex flex-col gap-6">
    <div id="header" class="w-full grid grid-cols-2 h-[7%]">
        <div>
            <h1 class="text-4xl font-semibold">Monitor</h1>
            <p class="text-lg text-gray-400 font-normal leading-[15px]">Live monitoring of users workout</p>
        </div>
        <div class="flex justify-end items-center gap-2">
            <h1 class="text-xl font-Helvetica font-semibold">{{ session.get('user_gym_name', 'Admin') }}</h1>
        </div>
    </div>
    
    <div class="mt-4">
        <p>Your camera selection and video streaming interface will go here.</p>
    </div>
</div>
{% endblock %}

