{% extends "house.html" %}
{% block title %}Admin Dashboard{% endblock %}
{% block content %}
<head>
    <title>Dashboard | {{ session.get('user_gym_name', 'Admin') }}</title>
</head>
<div class="bg-[#f1f1f1] p-10 h-full font-Helvetica flex overflow-hidden flex-col gap-6">
    <div id="header" class="w-full grid grid-cols-2 h-[7%]">
        <div>
            <h1 class="text-4xl font-semibold">Dashboard</h1>
            <p class="text-lg text-gray-400 font-normal leading-[15px]">Admin View: Statistics for daily and monthly monitoring</p>
        </div>
        <div class="flex justify-end items-center gap-2">
            <h1 class="text-xl font-Helvetica font-semibold">{{ session.get('user_gym_name', 'Admin') }}</h1>
        </div>
    </div>
    <div class="flex w-full h-full gap-10">
        <!-- first column -->
        <div class="flex flex-col gap-3 h-[95%]">
            <div class="border border-gray-300 bg-white h-[48%] w-110 rounded-2xl p-4 px-5 pb-6 flex flex-col gap-2">
                <h1 class="text-xl font-bold font-Helvetica mb-2">Assigned Trainers</h1>
                <div class="flex flex-col overflow-y-auto gap-2 h-[100%]">
                    <div class="border border-[#e2dbdb] h-[22%] w-full rounded-3xl items-center p-2 grid grid-cols-[15%_1fr_20%_10%] place-items-center justify-center">
                        <img class="h-[45px] w-[45px] object-cover rounded-4xl justify-self-start" src="/static/src/images/latraiseimg.jpg" alt="">
                        <h1 class="text-[#5a5757] text-lg justify-self-start">Albert Rivera</h1>
                        <h1 class="text-[#5a5757] text-sm">5:30PM</h1>
                        <button class="cursor-pointer stroke-[#d62828] hover:stroke-[#ff7272]"><svg xmlns="http://www.w3.org/2000/svg" width="34" height="34" viewBox="0 0 24 24" fill="none" stroke="" stroke-width="2.5" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-circle-minus-icon lucide-circle-minus"><circle cx="12" cy="12" r="10"/><path d="M8 12h8"/></svg></button>
                    </div>
                    <!-- duplicates for testing v -->
                    <div class="border border-[#e2dbdb] h-[22%] w-full rounded-3xl items-center p-2 grid grid-cols-[15%_1fr_20%_10%] place-items-center justify-center">
                        <img class="h-[45px] w-[45px] object-cover rounded-4xl justify-self-start" src="/static/src/images/latraiseimg.jpg" alt="">
                        <h1 class="text-[#5a5757] text-lg justify-self-start">Albert Rivera</h1>
                        <h1 class="text-[#5a5757] text-sm">5:30PM</h1>
                        <button class="cursor-pointer stroke-[#d62828] hover:stroke-[#ff7272]"><svg xmlns="http://www.w3.org/2000/svg" width="34" height="34" viewBox="0 0 24 24" fill="none" stroke="" stroke-width="2.5" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-circle-minus-icon lucide-circle-minus"><circle cx="12" cy="12" r="10"/><path d="M8 12h8"/></svg></button>
                    </div>
                    <div class="border border-[#e2dbdb] h-[22%] w-full rounded-3xl items-center p-2 grid grid-cols-[15%_1fr_20%_10%] place-items-center justify-center">
                        <img class="h-[45px] w-[45px] object-cover rounded-4xl justify-self-start" src="/static/src/images/latraiseimg.jpg" alt="">
                        <h1 class="text-[#5a5757] text-lg justify-self-start">Albert Rivera</h1>
                        <h1 class="text-[#5a5757] text-sm">5:30PM</h1>
                        <button class="cursor-pointer stroke-[#d62828] hover:stroke-[#ff7272]"><svg xmlns="http://www.w3.org/2000/svg" width="34" height="34" viewBox="0 0 24 24" fill="none" stroke="" stroke-width="2.5" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-circle-minus-icon lucide-circle-minus"><circle cx="12" cy="12" r="10"/><path d="M8 12h8"/></svg></button>
                    </div>
                    <div class="border border-[#e2dbdb] h-[22%] w-full rounded-3xl items-center p-2 grid grid-cols-[15%_1fr_20%_10%] place-items-center justify-center">
                        <img class="h-[45px] w-[45px] object-cover rounded-4xl justify-self-start" src="/static/src/images/latraiseimg.jpg" alt="">
                        <h1 class="text-[#5a5757] text-lg justify-self-start">Albert Rivera</h1>
                        <h1 class="text-[#5a5757] text-sm">5:30PM</h1>
                        <button class="cursor-pointer stroke-[#d62828] hover:stroke-[#ff7272]"><svg xmlns="http://www.w3.org/2000/svg" width="34" height="34" viewBox="0 0 24 24" fill="none" stroke="" stroke-width="2.5" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-circle-minus-icon lucide-circle-minus"><circle cx="12" cy="12" r="10"/><path d="M8 12h8"/></svg></button>
                    </div>
                    <div class="border border-[#e2dbdb] h-[22%] w-full rounded-3xl items-center p-2 grid grid-cols-[15%_1fr_20%_10%] place-items-center justify-center">
                        <img class="h-[45px] w-[45px] object-cover rounded-4xl justify-self-start" src="/static/src/images/latraiseimg.jpg" alt="">
                        <h1 class="text-[#5a5757] text-lg justify-self-start">Albert Rivera</h1>
                        <h1 class="text-[#5a5757] text-sm">5:30PM</h1>
                        <button class="cursor-pointer stroke-[#d62828] hover:stroke-[#ff7272]"><svg xmlns="http://www.w3.org/2000/svg" width="34" height="34" viewBox="0 0 24 24" fill="none" stroke="" stroke-width="2.5" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-circle-minus-icon lucide-circle-minus"><circle cx="12" cy="12" r="10"/><path d="M8 12h8"/></svg></button>
                    </div>
                    <div class="border border-[#e2dbdb] h-[22%] w-full rounded-3xl items-center p-2 grid grid-cols-[15%_1fr_20%_10%] place-items-center justify-center">
                        <img class="h-[45px] w-[45px] object-cover rounded-4xl justify-self-start" src="/static/src/images/latraiseimg.jpg" alt="">
                        <h1 class="text-[#5a5757] text-lg justify-self-start">Albert Rivera</h1>
                        <h1 class="text-[#5a5757] text-sm">5:30PM</h1>
                        <button class="cursor-pointer stroke-[#d62828] hover:stroke-[#ff7272]"><svg xmlns="http://www.w3.org/2000/svg" width="34" height="34" viewBox="0 0 24 24" fill="none" stroke="" stroke-width="2.5" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-circle-minus-icon lucide-circle-minus"><circle cx="12" cy="12" r="10"/><path d="M8 12h8"/></svg></button>
                    </div>
                    <!-- for testing ^ -->
                </div>
            </div>
            <div class="border border-gray-300 bg-white h-[48%] w-110 rounded-2xl p-4 px-5 pb-6 flex flex-col gap-2">
                <h1 class="text-xl font-bold font-Helvetica mb-2">Recent Error Log</h1>
                <div class="flex flex-col overflow-y-auto gap-2 h-[100%]">
                    <div class="border border-[#e2dbdb] h-[22%] w-full rounded-3xl items-center p-4 grid grid-cols-[1fr_20%] place-items-center justify-center">
                        <h1 class="text-[#5a5757] text-xl justify-self-start">Chest Press</h1>
                        <h1 class="text-[#5a5757] text-lg">5:30PM</h1>
                    </div>
                    <!-- duplicates for testing v -->
                    <div class="border border-[#e2dbdb] h-[22%] w-full rounded-3xl items-center p-4 grid grid-cols-[1fr_20%] place-items-center justify-center">
                        <h1 class="text-[#5a5757] text-xl justify-self-start">Chest Press</h1>
                        <h1 class="text-[#5a5757] text-lg">5:30PM</h1>
                    </div>
                    <div class="border border-[#e2dbdb] h-[22%] w-full rounded-3xl items-center p-4 grid grid-cols-[1fr_20%] place-items-center justify-center">
                        <h1 class="text-[#5a5757] text-xl justify-self-start">Chest Press</h1>
                        <h1 class="text-[#5a5757] text-lg">5:30PM</h1>
                    </div>
                    <div class="border border-[#e2dbdb] h-[22%] w-full rounded-3xl items-center p-4 grid grid-cols-[1fr_20%] place-items-center justify-center">
                        <h1 class="text-[#5a5757] text-xl justify-self-start">Chest Press</h1>
                        <h1 class="text-[#5a5757] text-lg">5:30PM</h1>
                    </div>
                    <div class="border border-[#e2dbdb] h-[22%] w-full rounded-3xl items-center p-4 grid grid-cols-[1fr_20%] place-items-center justify-center">
                        <h1 class="text-[#5a5757] text-xl justify-self-start">Chest Press</h1>
                        <h1 class="text-[#5a5757] text-lg">5:30PM</h1>
                    </div>
                    <div class="border border-[#e2dbdb] h-[22%] w-full rounded-3xl items-center p-4 grid grid-cols-[1fr_20%] place-items-center justify-center">
                        <h1 class="text-[#5a5757] text-xl justify-self-start">Chest Press</h1>
                        <h1 class="text-[#5a5757] text-lg">5:30PM</h1>
                    </div>
                    <div class="border border-[#e2dbdb] h-[22%] w-full rounded-3xl items-center p-4 grid grid-cols-[1fr_20%] place-items-center justify-center">
                        <h1 class="text-[#5a5757] text-xl justify-self-start">Chest Press</h1>
                        <h1 class="text-[#5a5757] text-lg">5:30PM</h1>
                    </div>
                    
                    <!-- for testing ^ -->
                </div>
            </div>
        </div>
        <div id="box" class="h-full w-[20%] flex flex-col gap-2">
            <div class="bg-[#2D2C2C] h-full rounded-2xl p-6 flex items-center flex-col">
                <h1 class="text-white text-center text-2xl">Critical Errors Detected</h1>
                <h1 class="text-5xl h-full w-full flex justify-center items-center text-white font-bold">10</h1>
            </div>
            <div class="bg-[#2D2C2C] h-full rounded-2xl p-6 flex items-center flex-col">
                <h1 class="text-white text-center text-2xl">Overall Incorrect Form Detected</h1>
                <h1 class="text-5xl h-full w-full flex justify-center items-center text-white font-bold">10</h1>
            </div>
            <div class="bg-[#2D2C2C] h-full rounded-2xl p-6 flex items-center flex-col">
                <h1 class="text-white text-center text-2xl">Common Workout Error this Week</h1>
                <h1 class="text-5xl h-full w-full flex justify-center items-center text-white font-bold">Bicep Curls</h1>
            </div>
        </div>
        
    </div>
   
</div>
{% endblock %}

