<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="{{url_for('static',filename='dist/output.css')}}">
</head>
<body>
    <div class="flex h-[100dvh] p-5 gap-5">
        <img src="/static/src/images/loginIMG.jpg" alt="" class="rounded-3xl object-cover">
        <div class="flex flex-col items-center w-full">
            <div class="h-[10%] w-full flex justify-start items-start">
                <a href="{{ url_for('home') }}" class="self-start items-start">
                    <svg xmlns="http://www.w3.org/2000/svg" width="26" height="26" fill="currentColor" class="bi bi-arrow-bar-left" viewBox="0 0 16 16">
                        <path fill-rule="evenodd" d="M12.5 15a.5.5 0 0 1-.5-.5v-13a.5.5 0 0 1 1 0v13a.5.5 0 0 1-.5.5M10 8a.5.5 0 0 1-.5.5H3.707l2.147 2.146a.5.5 0 0 1-.708.708l-3-3a.5.5 0 0 1 0-.708l3-3a.5.5 0 1 1 .708.708L3.707 7.5H9.5a.5.5 0 0 1 .5.5"/>
                    </svg>
                </a>
            </div>
            <div class="w-full h-[70%] flex flex-col items-center justify-center">
                <p class="text-[#2D2C2C] font-Helvetica text-xl">Login with</p>
                <h1 class="font-Helvetica font-bold text-7xl text-[#2D2C2C]">Gym Buddy</h1>
                <div class="flex flex-col gap-2 h-[23%] w-[60%] mt-7">
                    <input class="border p-2 w-full rounded-lg font-Helvetica outline-none px-3" type="text" placeholder="Email">
                    <input class="border p-2 w-full rounded-lg font-Helvetica outline-none px-3" type="password" placeholder="Password">
                    <a href="" class="font-Helvetica text-xs hover:underline">Forgot Password</a>
                </div>
                <div class="flex flex-col items-center w-full mt-5">
                    <button class="bg-[#2D2C2C] py-2 px-10 font-Helvetica rounded-xl text-white cursor-pointer hover:bg-[#474646]">Login</button>
                    <a href="" class="font-Helvetica text-base hover:underline mt-3">Create an account</a>
                    <div class="flex w-[60%] gap-2 justify-center items-center">
                        <hr class="border-t-1 border-black-500 w-[70%] rounded mx-auto my-4">
                        <p>Or</p>
                        <hr class="border-t-1 border-black-500 w-[70%] rounded mx-auto my-4">
                    </div>
                    <a href="" class="flex font-Helvetica w-[60%] gap-2 py-4 px-10 hover:bg-gray-200 bg-gray-100 justify-center items-center h-10"><svg xmlns="http://www.w3.org/2000/svg" x="0px" y="0px" width="36" height="36" viewBox="0 0 48 48">
                        <path fill="#FFC107" d="M43.611,20.083H42V20H24v8h11.303c-1.649,4.657-6.08,8-11.303,8c-6.627,0-12-5.373-12-12c0-6.627,5.373-12,12-12c3.059,0,5.842,1.154,7.961,3.039l5.657-5.657C34.046,6.053,29.268,4,24,4C12.955,4,4,12.955,4,24c0,11.045,8.955,20,20,20c11.045,0,20-8.955,20-20C44,22.659,43.862,21.35,43.611,20.083z"></path><path fill="#FF3D00" d="M6.306,14.691l6.571,4.819C14.655,15.108,18.961,12,24,12c3.059,0,5.842,1.154,7.961,3.039l5.657-5.657C34.046,6.053,29.268,4,24,4C16.318,4,9.656,8.337,6.306,14.691z"></path><path fill="#4CAF50" d="M24,44c5.166,0,9.86-1.977,13.409-5.192l-6.19-5.238C29.211,35.091,26.715,36,24,36c-5.202,0-9.619-3.317-11.283-7.946l-6.522,5.025C9.505,39.556,16.227,44,24,44z"></path><path fill="#1976D2" d="M43.611,20.083H42V20H24v8h11.303c-0.792,2.237-2.231,4.166-4.087,5.571c0.001-0.001,0.002-0.001,0.003-0.002l6.19,5.238C36.971,39.205,44,34,44,24C44,22.659,43.862,21.35,43.611,20.083z"></path>
                        </svg> Continue with Google
                    </a>
                </div>
            </div>
        </div>
       
    </div>
   
</body>
</html>