

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Password Reset Email Sent | Gym Buddy</title>
    <link rel="stylesheet" href="{{url_for('static',filename='dist/output.css')}}">
</head>
<body class="bg-gray-50 h-screen flex items-center justify-center font-Helvetica overflow-y-hidden">
    <div class="h-[100dvh] w-full">
        <div class="w-[100dvw] top-0 absolute z-11 h-[100dvh] bg-black/25 flex items-center justify-end pr-30">
            <div class="w-[90%] max-w-md bg-white p-10 rounded-3xl shadow-xl absolute z-10">
                <div class="text-center mb-6">
                    <h2 class="text-3xl font-bold text-[#2D2C2C]">Email Sent!</h2>
                    <p class="text-gray-500 text-sm mt-2">We've sent a password reset link to your email. Please check your inbox.</p>
                </div>

                <a href="{{ url_for('login') }}" 
                    class="mt-6 flex justify-center bg-[#2D2C2C] text-white py-3 rounded-4xl font-bold hover:bg-[#474646] transition-all">
                    Return to Login
                </a>
            </div>
        </div>
        <div class="h-full p-3 ">
            <img class="object-cover h-full w-full rounded-2xl" src="/static/src/images/home.jpg" alt="">
            <div class="absolute bottom-5 -left-12 z-10 w-[80%]">
                <h2 class="text-[550px] text-white font-bold font-Helvetica italic -tracking-[50px] leading-110">GYM BUDDY</h2>
            </div>
        </div>
    </div>
</body>
</html>