<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Create an account</title>
    <link rel="stylesheet" href="{{url_for('static',filename='dist/output.css')}}">
</head>
<body class="p-0 m-0 overflow-y-hidden ">
    <div class="h-[100dvh] w-full">
        <div class="h-full p-3 ">
            <img class="object-cover h-full w-full rounded-2xl" src="/static/src/images/gymimg2.jpeg" alt="">
            <div class="absolute bottom-5 -left-12 z-10 w-[80%]">
                <h2 class="text-[550px] text-white font-bold font-Helvetica italic -tracking-[50px] leading-110">GYM BUDDY</h2>
            </div>
        </div>
    </div>
    <div class="w-[100dvw] top-0 absolute z-11 h-[100dvh] bg-black/25 flex items-center justify-end pr-30">
        <div class="w-[23%] shadow drop-shadow-xl/50 rounded-xl bg-white p-9">
            <form id="regForm" class="h-full flex flex-col font-Helvetica" method="POST" action="{{ url_for('register') }}">
                <a href="{{ url_for('login') }}" class="self-start items-start">
                    <svg xmlns="http://www.w3.org/2000/svg" width="26" height="26" fill="currentColor" class="bi bi-arrow-bar-left" viewBox="0 0 16 16">
                        <path fill-rule="evenodd" d="M12.5 15a.5.5 0 0 1-.5-.5v-13a.5.5 0 0 1 1 0v13a.5.5 0 0 1-.5.5M10 8a.5.5 0 0 1-.5.5H3.707l2.147 2.146a.5.5 0 0 1-.708.708l-3-3a.5.5 0 0 1 0-.708l3-3a.5.5 0 1 1 .708.708L3.707 7.5H9.5a.5.5 0 0 1 .5.5"/>
                    </svg>
                </a>
                <h2 class="text-2xl font-bold font-Helvetica text-center mb-5">Create Owner Account</h2>

                <div class="flex flex-col space-y-3">
                    <label for="email" class="flex m-0">Email<p class="text-red-400 text-xl">*</p></label>
                    <input id="email" name="email" type="email" class="border rounded p-2" placeholder="your.email@example.com" required>
                    
                    <label for="gymName" class="flex m-0">Gym Name<p class="text-red-400 text-xl">*</p></label>
                    <input id="gymName" name="gymName" type="text" class="border rounded p-2" placeholder="e.g. KENO Fitness Center" required>

                    <label for="password" class="flex m-0">Password<p class="text-red-400 text-xl">*</p></label>
                    <input id="password" name="password" type="password" class="border rounded p-2 w-full" required>
                    
                    <label for="confirmPassword" class="flex m-0">Confirm Password<p class="text-red-400 text-xl">*</p></label>
                    <input id="confirmPassword" name="confirmPassword" type="password" class="border rounded p-2 w-full" required>

                    <div class="flex justify-center pt-4">
                        <button type="submit" class="bg-[#2D2C2C] w-[40%] self-center py-2 px-5 font-Helvetica rounded-4xl text-white cursor-pointer hover:bg-[#474646]">Sign up</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
    <script>
        document.getElementById('regForm').addEventListener('submit', function(event) {
            let pass = document.getElementById("password").value;
            let confirmPass = document.getElementById("confirmPassword").value;
            if (pass !== confirmPass) {
                alert("Passwords do not match!");
                event.preventDefault(); 
            }
        });
    </script>
</body>
</html>